spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:${DB_PORT:5432}/${DB_NAME:app}}
    username: ${SPRING_DATASOURCE_USERNAME:${DB_USER:app}}
    password: ${SPRING_DATASOURCE_PASSWORD:${DB_PASSWORD:app}}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true
    # Em DEV traz migrations oficiais + seeds/dev
    locations: ${SPRING_FLYWAY_LOCATIONS:classpath:db/migration,classpath:db/migration-dev}
    baseline-on-migrate: false

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace

app:
  cors:
    allowed-origins: "http://localhost:3000"
  problem:
    base-url: "${APP_PROBLEM_BASE_URL:http://localhost:8081/erros}"

springdoc:
  swagger-ui:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
api:
  security:
    token:
      secret: ${JWT_SECURITY_TOKEN:PG/7ONpNJspUZUm315FvrtOmn9ZFWAVJJcNaoqDMRiA+n3J3HKL51ZlKYCpvnzWs0Ji5/HiFAzwAxyD/M+UADA==}
      expiration: ${JWT_EXPIRATION:3600}
