spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME:${DB_USER:app}}
    password: ${SPRING_DATASOURCE_PASSWORD:${DB_PASSWORD:app}}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: ${SPRING_FLYWAY_LOCATIONS:classpath:db/migration,classpath:db/migration-dev}

logging:
  level:
    root: info
    org.hibernate.SQL: info

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: false

app:
  cors:
    allowed-origins: "https://front-da-aplicacao.com"

management:
  endpoints:
    web:
      exposure:
        include: "health,info"
  endpoint:
    health:
      show-details: "never"
api:
  security:
    token:
      # TO DO remover valor padrao em versoes futuras
      secret: ${JWT_SECURITY_TOKEN:PG/7ONpNJspUZUm315FvrtOmn9ZFWAVJJcNaoqDMRiA+n3J3HKL51ZlKYCpvnzWs0Ji5/HiFAzwAxyD/M+UADA==}
      expiration: ${JWT_EXPIRATION:3600}
